<div class="container mt-4" >
    <div class="card">
            <h1>Player Registation</h1>
  <form>
    <div class="form-group">
      <label>Name</label>
      <input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}"  class="form-control" id="name" placeholder="Enter Name"> 
    </div>
    <div class="form-group">
        <label>club</label>
        <input type="text" class="form-control"  [(ngModel)]="club" [ngModelOptions]="{standalone: true}" id="club" placeholder="Enter club"> 
      </div>
      <div class="form-group">
        <label>goal</label>
        <input type="text" class="form-control" [(ngModel)]="goals" [ngModelOptions]="{standalone: true}" id="goal" placeholder="Enter goal"> 
      </div>
    <button type="submit" (click)="save()" class="btn btn-primary">Submit</button>
  </form>
  </div>
  </div>
  <div class="container mt-4" >
  <h1>Player Table</h1>
  <table class="table">
  <thead>    
  <tr>
      <th scope="col">Name</th>
      <th scope="col">club</th>
      <th scope="col">goal</th>  
      <th scope="col">Option</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let playeritem of playerarray">
      <td>{{playeritem.name  | uppercase}}</td>
      <td>{{playeritem.club }}</td>
      <td>{{playeritem.goals }}</td>
      <td>
        <button type="button" class="btn btn-success" (click)="setUpdate(playeritem)">Edit</button>
        <button type="button" class="btn btn-danger" (click)="setDelete(playeritem)">Delete</button>            
      </td>
    </tr>          
  </tbody>
  </table>
  </div>